<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2 ng-if="ctrl.advertisement.id">Edycja zlecenia</h2>
            <h2 ng-if="!ctrl.advertisement.id">Nowe zlecenie</h2>
        </div>
    </div>
    <div class="row" ng-if="ctrl.msg">
        <div class="mx-auto">
            <p class="text-danger">{{ctrl.msg}}</p>
        </div>
    </div>
    <div class="row">
        <form class="mx-auto col-10 col-md-6">
            <div class="form-group">
                <label for="titleInput">Tytuł: </label>
                <input type="text" id="titleInput" class="form-control" placeholder="Tytuł" ng-model="ctrl.advertisement.title">
            </div>
            <div class="form-group">
                <label for="categorySelect">Kategoria:</label>
                <select  class="form-control" id="categorySelect" ng-model="ctrl.advertisement.category" >
                    <option ng-repeat="category in ctrl.categories" ng-selected="category === ctrl.advertisement.category">{{category.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cityInput">Miasto:</label>
                <input class="form-control" type="text" id="cityInput" placeholder="miasto" ng-model="ctrl.advertisement.city">
            </div>
            <div class="form-group">
                <label for="descriptionInput">Opis ogłoszenia:</label>
                <textarea class="form-control" id="descriptionInput" rows="10"
                          placeholder="opis" ng-model="ctrl.advertisement.description"></textarea>
            </div>
            <div class="form-group">
                <label for="priceInput">Cena: </label>
                <input class="form-control" type="text" id="priceInput" placeholder="cena w złotówkach" ng-model="ctrl.advertisement.price">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-2">
                        <div ng-if="!ctrl.advertisement.id" class="mx-auto">
                            <button type="submit" class="btn btn-primary" ng-click="ctrl.saveAdvertisement()">Dodaj</button>
                        </div>
                        <div ng-if="ctrl.advertisement.id" class="mx-auto">
                            <button type="submit" class="btn btn-primary" ng-click="ctrl.updateAdvertisement()">Zapisz zmiany</button>
                        </div>
                    </div>
                    <div class="col-md-offset-6 col-md-2">
                        <div class="mx-auto" ng-if="ctrl.advertisement.id">
                            <a class="btn btn-success mb-3" href="/upload/{{ctrl.advertisement.id}}">Dodaj zdjęcia</a>
                        </div>
                    </div>
                    <div class="col-md-offset-8 col-md-2">
                        <div class="mx-auto" ng-if="ctrl.advertisement.id">
                            <a class="btn btn-warning mb-3" ng-href="#!/ads/view/{{ctrl.advertisement.id}}">Podgląd ogłoszenia</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <h2 class="mx-auto">Zdjęcia: </h2>
            </div>
            <div class="row" ng-if="ctrl.advertisement.id">
                <div ng-repeat="image in ctrl.images" class="col-md-3 offset-md-1">
                    <div class="row">
                        <img ng-src="..{{image}}" width="200" height="100" alt="brak zdjęć"/>
                        <br>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="mx-auto">
                    <button class="btn btn-sm btn-dark">
                        <a class="text-white" ng-href="#!accountView/{{ctrl.advertisement.userId}}">Powrót do konta</a>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>