<div class="container"  >
    <div class="row">
        <div class="mx-auto">
            <h2 ng-if="ctrl.advertisement.id">Edycja ogłoszenia </h2>
        </div>
    </div>
    <div class="row" ng-if="ctrl.msg">
        <div class="mx-auto">
            <p class="text-danger">{{ctrl.msg}}</p>
        </div>
    </div>
    <div class="row" ng-if="ctrl.userByEmail.id === ctrl.advertisement.userId">
        <form class="mx-auto col-10 col-md-6" name="adverForm" ng-class="{'form-error':submitted}" ng-submit="saveAdvertisement()">
            <div class="form-group">
                <label for="titleInput">Tytuł: </label>
                <input type="text" id="titleInput" class="form-control" placeholder="Tytuł" name="title" required ng-model="ctrl.advertisement.title">
                <div class="check" ng-show="adverForm.title.$valid">  ✓</div>
            </div>
            <div ng-messages="adverForm.title.$error"
                 ng-show="submitted && adverForm.title.$invalid" class="error-messages">
                <p ng-message="required">Prosimy podać tytuł!</p>
            </div>
            <div class="form-group">
                <label for="categorySelect">Kategoria:</label>
                <select  class="form-control" id="categorySelect" name="category" required ng-model="ctrl.advertisement.category" >
                    <option ng-repeat="category in ctrl.categories" ng-selected="category === ctrl.advertisement.category">{{category.name}}</option>
                </select>
                <div class="check" ng-show="adverForm.category.$valid">  ✓</div>
            </div>
            <div ng-messages="adverForm.category.$error"
                 ng-show="submitted && adverForm.category.$invalid" class="error-messages">
                <p ng-message="required">Prosimy wybrać kategorię!</p>
            </div>
            <div class="form-group">
                <label for="cityInput">Miasto:</label>
                <input class="form-control" type="text" id="cityInput" placeholder="miasto" name="city" required ng-model="ctrl.advertisement.city">
                <div class="check" ng-show="adverForm.city.$valid">  ✓</div>
            </div>
            <div ng-messages="adverForm.city.$error"
                 ng-show="submitted && adverForm.city.$invalid" class="error-messages">
                <p ng-message="required">Prosimy wpisać miejscowość</p>
            </div>
            <div class="form-group">
                <label for="descriptionInput">Opis ogłoszenia:</label>
                <textarea class="form-control" id="descriptionInput" rows="10" name="description"
                          placeholder="opis" required ng-model="ctrl.advertisement.description"></textarea>
                <div class="check" ng-show="adverForm.description.$valid">  ✓</div>
            </div>
            <div ng-messages="adverForm.description.$error"
                 ng-show="submitted && adverForm.description.$invalid" class="error-messages">
                <p ng-message="required">Prosimy wpisać opis!</p>
            </div>
            <div class="form-group">
                <label for="priceInput">Cena: </label>
                <input class="form-control" type="text" id="priceInput" placeholder="cena w złotówkach" name="price" required ng-model="ctrl.advertisement.price">
            </div>
            <div class="check" ng-show="adverForm.price.$valid">  ✓</div>
            <div ng-messages="adverForm.price.$error"
                 ng-show="submitted && adverForm.price.$invalid" class="error-messages">
                <p ng-message="required">Prosimy podać cenę!</p>
            </div>
            <div class="container">
                <div class="row">
                    <div>
                        <div ng-if="ctrl.advertisement.id" class="mx-auto">
                            <button type="submit" class="btn btn-primary" ng-click="ctrl.updateAdvertisement()">Zapisz zmiany</button>
                        </div>
                    </div>
                    <div >
                        <div class="mx-auto" ng-if="ctrl.advertisement.id">
                            <a class="btn btn-success mb-3" href="/upload/{{ctrl.advertisement.userId}}/{{ctrl.advertisement.id}}">Dodaj zdjęcia</a>
                        </div>
                    </div>
                    <div >
                        <div ng-if="ctrl.advertisement.id">
                            <a class="btn btn-warning mb-3" ng-href="#!/ads/view/{{ctrl.advertisement.id}}">Podgląd ogłoszenia</a>
                        </div>
                    </div>
                    <div >
                        <div ng-if="ctrl.advertisement.id">
                            <button type="submit" class="btn btn-dark" ng-click="ctrl.acceptAdvertisement(ctrl.advertisement)">Opublikuj ogłoszenie</button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="confirmed">
                    <div class="mx-auto">
                        <p style="color: darkgreen">{{ctrl.confirmMsg}}</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" ng-if="ctrl.advertisement.id">
                <h2 class="mx-auto">Zdjęcia: </h2>
            </div>
            <div class="row" ng-if="ctrl.advertisement.id">
                <div ng-repeat="image in ctrl.images" class="col-md-3 offset-md-1">
                    <div class="row">
                        <img ng-src="{{image.uploadUrl}}" width="200" height="100" alt="brak zdjęć"/>
                        <button type="submit" ng-click="ctrl.removeImage(image)"><i class="fas fa-trash-alt"></i></button>
                        <br>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="mx-auto">
                    <button class="btn btn-sm btn-dark">
                        <a class="text-white" ng-href="#!accountView/{{ctrl.advertisement.userId}}">Powrót do konta</a>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>