<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2>Panel administracyjny</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 offset-md-2">
            <a ng-href="#!admin-panel/pendingAdvertisements"><img ng-src="../img/adminPanel/pending.png" width="150" height="150"></a>
            <div class="mx-auto">
                <h4>Oczekujące na akceptację</h4>
            </div>
        </div>
        <div class="col-md-3 offset-md-2">
            <a ng-href="#!admin-panel/allUsers"><img ng-src="../img/adminPanel/users.png" width="150" height="150"></a>
            <div class="mx-auto">
                <h4>Szukaj użytkowników</h4>
            </div>
        </div>
    </div>
</div>