<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2>Zmiana hasła dla konta</h2>
        </div>
    </div>
    <div class="row" ng-if="ctrl.msg">
        <div class="mx-auto">
            <p class="text-danger">{{ctrl.msg}}</p>
        </div>
    </div>
    <form name="userForm" ng-class="{'form-error':submitted}" ng-submit="changePassword()">
        <div class="row">
            <div class="class=mx-auto col-10 col-md-6">
                <div class="form-group" ng-if="ctrl.user">
                    <label for="confirmPassword">Hasło:</label>
                    <div class="flex-container" >
                        <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="hasło"
                               ng-change="passwordChanged()" minlength="6" required ng-model="registration.confirmPassword">
                        <div class="check" ng-show="userForm.password.$valid">  ✓</div>
                    </div>
                </div>
                <div ng-messages="userForm.confirmPassword.$error"
                     ng-show="submitted && userForm.password.$invalid" class="error-messages">
                    <p ng-message="required"><i class="fas fa-exclamation-circle"></i> Prosimy podać hasło do konta!</p>
                    <p ng-message="minlength"><i class="fas fa-exclamation-circle"></i>Hasło musi posiadać przynajmniej 6 znaków</p>
                </div>
                <div class="form-group" ng-if="ctrl.user">
                    <label for="passwordInput">Powtórz hasło:</label>
                    <div class="flex-container" >
                        <input type="password" name="password" class="form-control" id="passwordInput" placeholder="hasło"
                               ng-pattern="passwordRegExp" required ng-model="registration.password">
                        <div class="check" ng-show="userForm.password.$valid">  ✓</div>
                    </div>
                </div>
                <div ng-messages="userForm.password.$error"
                     ng-show="submitted && userForm.password.$invalid" class="error-messages">
                    <p ng-message="required"><i class="fas fa-exclamation-circle"></i> Prosimy podać hasło do konta!</p>
                    <p ng-message="pattern"><i class="fas fa-exclamation-circle"></i> Hasła muszą być identyczne</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="ctrl.changePassword(ctrl.user)">Zapisz</button>
                </div>

            </div>
        </div>
    </form>
</div>

