.jumbo-custom{
    background: url('../img/take_a_pet.jpg') center;
    width: 1080px;
    height: 250px;
}
.form-error input.ng-invalid {
    border-color:red;
}
.error-messages {
    color:red;
}
.flex-container{
    display: flex;
}


