<!DOCTYPE html>
<html data-ng-app="app" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Take-a-pet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h3>Dodaj zdjęcia zwierzaka (pierwsze będzie głównym) </h3>
                <form method="post" th:action="@{/upload/{id} (id = ${advertisementId})}"  enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <div class="row mx-auto">
                        <h6 style="color:darkred" th:text="${errorMessage}"/>
                        <h6 th:text="${message}"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                    <div class="row mx-auto">
                        <a href="#!" th:href="@{/ads/edit/{id} (id = ${advertisementId})}">Wróć do ogłoszenia</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>


</body>
</html>